<html>

<head>
  <title>awise-payment API</title>
  <link rel="stylesheet" type="text/css" href="static/global.css">
  <link rel="stylesheet" type="text/css" href="static/vein.css">
</head>

<body>
  <div class="bloodNetwork">
    <div class="vein bottomLeft rotate-xl" style="top:-80%;left:-41%;height:82px;width:178px;"></div>
    <div class="vein bottomLeft bottomRight" style="top:-47%;left:-105%;height:100px;width:389px;"></div>
    <div class="vein topLeft" style="top:-12%;left:-113%;height:70px;width:59px;"></div>
    <div class="vein bottomRight" style="top:20%;left:109%;height:30px;width:32px;"></div>
    <div class="vein topRight" style="top:19%;left:29%;height:97px;width:200px;"></div>
    <div class="vein topRight" style="top:0%;left:3%;height: 82px;width:133px;"></div>
    <div class="vein topLeft rotate-xs" style="top:43%;left:-68%;height:82px;width:133px;"></div>
    <div class="vein topRight rotate-md" style="top:63%;left:-14%;height:82px;width:133px;"></div>
  </div>
  <div class="container">
    <div class="text"><span>awise-payment <small>API</small></span></div>
    <div class="round_color"></div>
  </div>
</body>

</html>